@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Bebas Neue', sans-serif;
  background-color: whitesmoke;
}

h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 40px;
  letter-spacing: 5px;
}
/* Scroll To Top Button */

.to-top {
  cursor: pointer;
  position: fixed;
  display: flex;
  background: white;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  right: 32px;
  bottom: 16px;
  width: 50px;
  height: 50px;
  font-size: 32px;
  opacity: 0;
  pointer-events: none;
  color: #1f1f1f;
  transition: all 0.4s;
  box-shadow: 0 3px rgba(0, 0, 0, 0.07);
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}
/* Loader */

.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Image Container */

.image-container {
  margin: 10px 30%;
}

.image-container img {
  width: 100%;
  margin-top: 5px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }

  .image-container {
    margin: 10px 2.5%;
  }
}
